.card {
  width: 240px;
  height: 260px;
  background-color: #d9d9d9;
  border-radius: 20px;
}

.card__content {
  display: flex;
  flex-direction: column;
}

.card__image {
  width: 240px;
  height: 260px;
  margin: 0;
  padding: 0;
}

.card__description {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.card__price {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  padding: 0;
  margin: 0;
}
